@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  max-width:100%;
  margin-right: 50px;
}

.container {
  padding: 20px;
  box-shadow: 5px -3px 9px rgb(197, 193, 193);
}

img {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  height: 250px;
}
.mealNamePrice {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.foodDetails {
  padding: 10px;
}

.food {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: -3px 3px 15px rgb(165, 158, 158);
  border-bottom-left-radius: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}

.footer p {
  margin-left: 15px;
  cursor: pointer;
}

.para{
  margin:5px 0 15px;
}

span.checked {
  color: #eb9616;
}

span.unchecked {
  color: rgb(187, 179, 179);
}

button {
  cursor: pointer;
  background-color: #eb9616;
  border: 0;
  border-top-left-radius: 13px;
  color: #fff;
  font-size: 35px;
  padding: 10px;
  width: 80px;
  text-align: center;

}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: 0;
}

.grid-container .spinner{
  background-color: white;
  display: none;
}
@media (min-width:600px) {
  .container {
    width: 100%;
    margin: auto;
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .food{
    width: 90%;
  }
 
}
@media (min-width:800px) {
  .container {
    width: 90%;
  }
  .grid-container{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }
  .food{
    width: 90%;
  }
 
}

@media (max-width:260px) {
  .mealNamePrice {
    display: flex;
    flex-direction: column;
  }
}
#learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  /* margin-top: 530px; */
  width:140px;
  height: 40px;
  padding: 10px 20px;
  color: #fff;
  background-color: #eb9616;
  border: none;
  font-size: 18px;
  border-radius: 15px;
}